body {
    color: #3c0f0f;
}

.banner-image{ padding-top: 80px;    
              padding-bottom: 50px; 
              text-align: center;     
              color: #f5efef; 
              background: url(intro-bg_5.jpg) no-repeat center ; 
              background-size: cover;
}

.banner-content{
    position:relative; 
    padding-top: 6%; 
    padding-bottom: 6%; 
    margin-top: 14%; 
    margin-bottom: 12%; 
    background-color: rgba(0, 0, 0, 0.7); 
    max-width: 660px;
    overflow: hidden;
    
}

.thumbnail img{
    max-height: 150px; 
}
main {
    min-height: 100vh;
}

footer{
    padding: 10px 0; 
    background-color: #101010; 
    color:#9d9d9d; 
    bottom: 0; 
    width: 100%; }
.row_style{margin-top: 70px;
}
 h2{font-weight: bolder; 
 }
 .jumbotron_style{margin-top: 70px;
 }
 .table_style{margin-top: 70px;
 }
  h4{font-weight: bolder;
  }
 .container_style{margin-top: 80px;
 }

 .add-to-cart {
    margin: 0;
    background-color: #337ab7;
    color: #ffffff;
    border: 1px solid cyan;
    border-radius: 4px;
    outline: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
 }
 .padding-20 {
     padding: 20px;
 }
         


.quantity {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 40%;
    padding: 5px;
}




.card {
    padding-top: 4rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100vh;
    transition: 0.5s;
}

.card h1 {
    color: #ededec;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.card .checkOut div {
    background-color: #ededec;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.active .card {
    left: calc(100% - 500px);
}
main {
    transition: 0.5s;
}
.active main {
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.);
}

.container button {
    background-color: #101010;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3,1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px;
}
.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img {
    width: 90%;
}
.listCard button {
    width: auto;
    background-color: #fff5;
    border: none;
}
.listCard .count {
    margin: 0 10px;
}
